<div>
    <select class="form-control" [formControl]="districtSelectControl">
        <option [value]="defaultOption" disabled hidden>Select your option</option>
        <option *ngFor="let district of districtData" [ngValue]="district.name">{{district.name}}
            ({{district.county}} ({{incidencePlace(district)}}))
        </option>
    </select>
</div>
<div class="flex-row district-data-wrapper">
    <table *ngIf="selectedDistrict" class="table table-hover">
        <tbody>
            <tr>
                <td>Name</td>
                <td> {{ selectedDistrictData.name }} ({{incidencePlace(selectedDistrictData)}})</td>
            </tr>
            <tr>
                <td>Cases per 100k</td>
                <td> {{ round(selectedDistrictData.casesPer100k) }}</td>
            </tr>
            <tr>
                <td>Count</td>
                <td> {{ round(selectedDistrictData.count) }}</td>
            </tr>
            <tr>
                <td>Week Incidences</td>
                <td> {{ round(selectedDistrictData.weekIncidence) }}</td>
            </tr>
            <tr>
                <td>Deaths</td>
                <td> {{ round(selectedDistrictData.deaths) }}</td>
            </tr>
            <tr>
                <td>Cases per Population</td>
                <td> {{ round(selectedDistrictData.casesPerPopulation) }}</td>
            </tr>
            <tr>
                <td>County</td>
                <td> {{ selectedDistrictData.county }}</td>
            </tr>
        </tbody>
    </table>
    <div class="district-list-container">
        <div *ngFor="let district of orderedByIncidences" class="incidences-district" [class.selected-district]="district === selectedDistrictData" (click)="selectFromIncidenceList($event, district)">
            {{ district.name }}
        </div>
    </div>
</div>